<!DOCTYPE html>
<html>
<head>
	<title>add</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<h3 class="text-center">添加到数据库</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<form role="form">
					<div class="form-group">
						<label class="sr-only" for="exampleInputTittle">Tittle</label>
						<input type="text" class="form-control"  placeholder="Tittle">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputUsername">Username</label>
						<input type="text" class="form-control" placeholder="Username">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputDatabaseName">DatabaseName</label>
						<input type="text" class="form-control" placeholder="DatabaseName">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword">Password</label>
						<input type="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputRemotePath">RemotePath</label>
						<input type="text" class="form-control" placeholder="RemotePath">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputLocalPath">LocalPath</label>
						<input type="text" class="form-control" placeholder="LocalPath">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>