<div class="row">
	<div class="col-xs-12">
		<h3 class="text-center">Folders backup</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table text-center">
			<tr class="btn-primary">
				<td>Title</td>
				<td>size</td>
				<td>Setting</td>
				<td>backup</td>
				<td>Status</td>
				<td>
					<a href="#/folder-add"><i class="active fa fa-plus fa-2x"></i></a>
				</td>
			</tr>
			<tr ng-repeat="folder in folders">
				<td>{{folder.title}}</td>
				<td></td>
				<td>
					<a href="#/folders/{{folder.id}}"><i class="fa fa-pencil-square-o  fa-lg text-muted"></i></a>
				</td>
				<td >
					<button ng-disabled="folder.disabled" type="button" class="btn btn-default btn-sm" ng-click = 'events.backup(folder.id)'>backup</button>
				</td>
				<td>
					　&nbsp;
					{{folder.working.status}}
				</td>
				<td>
					{{ folder.working.size/1024/1024 | number : 2}} 
					<span ng-if = 'folder.working.size'>MB</span>
				</td>
			</tr>
		</table>
	</div>
	<!-- <div class="col-xs-3" ng-controller = "database-statusCtrl">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				{{currentDb.title}}
			</div>
			<div class="panel-body">
				database size:
			</div>
			<div class="panel-body">
				Status:
			</div>
			<div class="panel-body">
				sql file size (MB) : {{ currentDb.working.size/1024/1024 | number : 2}}
			</div>
			<div class="panel-body">
				uploaded size:
			</div>
		</div>
	</div> -->
</div>