<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<h3 class="text-center">System Configuration</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<form role="form">
					<div class="form-group">
						<label class="sr-only" for="exampleInputUrl">Url</label>
						<input type="text" class="form-control" placeholder="url">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputBaseurl">Baseurl</label>
						<input type="text" class="form-control" placeholder="Baseurl">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputMysqldump">Mysqldump</label>
						<input type="text" class="form-control" placeholder="Mysqldump">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputadministrator">Administrator</label>
						<input type="text" class="form-control" placeholder="Administrator">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword">Password</label>
						<input type="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail">Email</label>
						<input type="Email" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmailUserName">Email-UserName</label>
						<input type="text" class="form-control" placeholder="Email-UserName">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmailPassword">Email-Password</label>
						<input type="password" class="form-control" placeholder="Email-Password">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>