<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>list</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
</head>
<body>
	<table class="table">
		<tr class="btn-primary">
			<td>数据库名称</td>
			<td>服务器名称</td>
			<td>陶雅阁</td>
		</tr>
		<tr>
			<td>aaaaaa</td>
			<td>bbbbb</td>
			<td>
				<button type="button" class="btn btn-default">ccc</button>
			</td>
		</tr>
		<tr class="active">
			<td>数据库名称</td>
			<td>服务器名称</td>
			<td>
				<button type="button" class="btn btn-default">ccc</button>
			</td>
		</tr>
	</table>
</body>
</html>