<!DOCTYPE html>
<html>
<head>
	<title>Backup center</title>
</head>
<body>
	<a href="{{url}}/database"> 
		<button>数据库备份</button>
	</a>
	<a href="{{url}}/website">
		<button>网站文件备份</button>
	</a>
</body>
</html>